.UserBar {
  padding: 5px 25px;
}

.dashboard-list {
  display: flex;
  flex-direction: row;
}

.dashboard-list-item {
  padding: 0 20px;
  list-style: none;
}

.dashboard-list-item > a {
  text-decoration: none;
  color: white;
}
